<div class="container rounded bg-red mt-5 mb-5">
  <div class="row">
      <div class="col-md-3 border-right">
          <div class="d-flex flex-column align-items-center text-center p-3 py-5">
              <img class="rounded-circle mt-5" width="150px" src="../assets/images/logo.jpg"><br>
              <span class="font-weight-bold">Travel-Portal</span><span class="text-black-50"></span><span> </span></div>
      </div>
      <div class="col-md-5 border-right">
          <div class="p-3 py-5">
              <div class="d-flex justify-content-between align-items-center mb-3">
                  <h4 class="text-right">Profile</h4>
              </div>
              <div class="row mt-2">
                  <div class="col-md-6"><label class="labels"> Id:</label>{{id}}</div>
                  <div class="col-md-6"><label class="labels">Name:</label>{{name}}</div>
                  <div class="col-md-6"><label class="labels">Age:</label>{{age}}</div>
                  <div class="col-md-6"><label class="labels"> Role:</label>{{role}}</div>
                  <div class="col-md-6"><label class="labels"> Dept:</label>{{dept}}</div>
                  <div class="col-md-6"><label class="labels"> DOB:</label>{{dob}}</div>
                  <div class="col-md-6"><label class="labels"> MId:</label>{{mid}}</div>
                  <div class="col-md-6"><label class="labels"> Mobile:</label>{{mob}}</div>
                  <div class="col-md-6"><label class="labels"> Email:</label>{{email}}</div>
                  <div class="col-md-6"><label class="labels"> Region:</label>{{region}}</div>
               </div>
          </div>
      </div>
  </div>
</div>
<div mat-dialog-actions>
  <button mat-raised-button matDialogClose (click)="noclick()">
    close
  </button>
</div>